
.game-node {
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.board {
    background-color: #202040;
    padding: 2px;
    border-radius: 8px;
}

.inner-node {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;
    vertical-align: middle;

    border-radius: 50px;
    
    background-color: #fff;
}